 body {
/*   width: 1000px; */
  margin: 0 auto;
  color: #333;
  font-weight: 300;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serf;
}

h1 {
  font-size: 3em;
  font-weight: 300;
}

h2 {
  font-size: 1.5em;
  font-weight: 300;
}

section {
  margin-bottom: 3em;
}

section p {
  text-align: justify;
}

svg {
  border: 1px solid #ccc;
  overflow: hidden;
  margin: 0 auto;
}

pre {
  border: 1px solid #ccc;
}


text {
  font-weight: 300;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serf;
  font-size: 14px;
}

.node rect {
  stroke: #333;
  fill: #fff;
  stroke-width: 1.5px;
}

.edgePath path {
  stroke: #333;
  stroke-width: 1.5px;
}

table {
  border-spacing: 0;
}

table td {
  padding: 7px;
}

table td:first-child {
  background-color: #afa;
  border-top: 1px solid #333;
  border-left: 1px solid #333;
  border-bottom: 1px solid #333;
  border-radius: 5px 0 0 5px;
}

table td:last-child {
  background-color: #faa;
  border-top: 1px solid #333;
  border-right: 1px solid #333;
  border-bottom: 1px solid #333;
  border-radius: 0 5px 5px 0;
}

/* This styles the title of the tooltip */
.tipsy .name {
    font-size: 1.5em;
    font-weight: bold;
    color: #60b1fc;
    margin: 0;
}

/* This styles the body of the tooltip */
.tipsy .description {
    font-size: 1.2em;
}

g.T0>circle{
    fill: #00ffd0;
}
/*g.SourcePlaceNode>circle{
   fill: #ff00d0; 
}
g.Selection1PlaceNode>circle{
   fill: #ff00d0; 
}
g.Selection2PlaceNode>circle{
   fill: #ff00d0; 
}*/
