/benchmarks/
/edu/
/javato/
/sootOutput/
/test/
/wfb/
/Test.class
/Test1.class
/Main.class
/MyTest$1.class
/MyTest$2.class
/MyTest$Consumer.class
/MyTest$Producer.class
/MyTest.class
/MyTest2$1.class
/MyTest2$2.class
/MyTest2.class
/Test2.class
/Test$1.class
/Test$2.class
/Test$Consumer.class
/Test$Producer.class
/import java/
